:8083 {

    # Maneja las peticiones a /cors
    handle_path /cors* {
        reverse_proxy cors-anywhere:5000
    }

    # Maneja las peticiones a la raíz
    handle {
        reverse_proxy intertwin-dashboard:8080
    }
}
